In [1]:
import pandas as pd 
import re

In [39]:
train = pd.read_csv("data/train.csv")

test = pd.read_csv("data/test.csv")

In [3]:
train.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [4]:
def search_pattern(string):
    """search names for titles as (mr, mrs, etc.)"""
    return re.search(',.*[/.\b]',string)[0][2:-1]

In [5]:
# change Sex values to numbers 
train.Sex.replace({"male":1, "female":2}, inplace=True)

# drop the null values in the Embarked (2 rows)
train = train.drop(train.loc[pd.isnull(train.Embarked) == True].index)

# change Embarked values to numbers 
train.Embarked.replace({"S":0, "C":1, "Q":2}, inplace=True)

# title name for the person as (mr, miss, mrs)
train['Social_name'] = train.Name.apply(search_pattern)

# drop Tickets column (because it's useless)
# drop the names because useful features have been extracted
train.drop(columns=["PassengerId", "Ticket", "Name", "Cabin"], inplace=True)

# replace odd social names with their correct social name
train.Social_name.replace({"Mrs. Martin (Elizabeth L": "Mrs",
                           "Lady":"Mrs",
                           "Mr. Carl": "Mr",
                           "Mlle": "Miss",
                           "Mme": "Miss",
                           "Ms": "Miss"
                          }, inplace=True)

# map Social names to numbers
train.Social_name.replace(train.Social_name.unique(), range(len(train.Social_name.unique())), inplace=True)

# fill NaN values in Age by the overall age median value
train.Age = train.Age.fillna(train.Age.median())
# make the "Fare" and "Age" values integers 
train["Fare"] = train.Fare.astype(int)
train.Age = train.Age.astype(int)